@import url(http://fonts.googleapis.com/css?family=Roboto:400);

body {
	background-color: #111111;
	-webkit-font-smoothing: antialiased;
}

.container {
	padding: 25px;
	position: fixed;
}

.form-login {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 24em;
	height: 18em;
	margin-top: -9em; /*set to a negative number 1/2 of your height*/
	margin-left: -12em; /*set to a negative number 1/2 of your width*/
	background-color: #EDEDED;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 5px;
	border-color: #d2d2d2;
	border-width: 5px;
	box-shadow: 0 1px 0 #cfcfcf;
}

h4 {
	border: 0 solid #fff;
	border-bottom-width: 1px;
	padding-bottom: 10px;
	text-align: center;
}

.wrapper {
	text-align: center;
}

#quen-mk {
	margin-right: 10px;
}

#errormessage {
	color: red;
}